/* Set the background color to black */
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  position: relative;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  height: 100dvh;
  width: 100%;
}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  opacity: .35;
}

.screen {
  z-index: 10;
  position: relative;
}

/* Make the canvas responsive */
canvas {
  display: block;
}

/* Adjust the size of images for smaller screens */
@media (max-width: 600px) {
  #gameCanvas {
    width: 100%;
    height: auto;
  }

  img {
    width: 300px; /* Adjust the width of images for smaller screens */
    height: 300px; /* Adjust the height of images for smaller screens */
  }
}

#startScreen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#startScreen .container {
  text-align: center; 
}

#startButton {
  text-align: center;
	display: inline-block;
	margin:5px;
  font-weight: bold;
  padding: 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
	border-radius: 7px;
  box-shadow: 0 .2em gray; 
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

#startButton:active {
	box-shadow: none;
	position: relative;
	top: .2em;
}

.title {
  display: block;
  position: relative;
  margin: inherit auto;
  font-size: 3rem;
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(to bottom,  #00f2ff 0%,#e2fbff 50%,#0a343f 51%,#0094f7 100%);
  background-blend-mode: multiply;
  background-size: 10px 3rem;
  background-repeat: repeat;
  line-height: 1.25;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
}

.title::before {
  background: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  z-index: +2;
  background-image: url('https://i.imgur.com/Ym9HCsT.gif');
  background-blend-mode: screen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}

.title::after {
  background: none;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 1px -1px 0 rgba(255,255,255,0.5),
               3px 1px 3px rgba(255,0,255,0.85), 
               -3px -2px 3px rgba(0,0,255,0.85),
               1px -2px 0 rgba(255,255,255,0.8);
  z-index: -2;
}